{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'style.css' %}">
<div class="container">
    <table class="table" >
        <tr>
            <td>Nama Matkul</td>
            <td>{{matkul.NamaMatkul}}</td>
        </tr>
        <tr>
            <td>Nama Dosen</td>
            <td>{{matkul.NamaDosen}}</td>
        </tr>
        <tr>
            <td>Jumlah SKS</td>
            <td>{{matkul.JumlahSKS}} SKS</td>
        </tr>
        <tr>
            <td>Deskripsi Matkul</td>
            <td>{{matkul.DeskripsiMatkul}}</td>
        </tr>
        <tr>
            <td>Semester</td>
            <td>{{matkul.TahunSemester}}</td>
        </tr>
        <tr>
            <td>ruang</td>
            <td>{{matkul.RuangKelas}}</td>
        </tr>
    </table>
    <form action="hapus/" method="POST" >
        {% csrf_token %}
        <input type="hidden" value="{{ matkul.id }}" name="id">
        <input class="tombol" type="submit" value="Delete">
     </form>
     <a href="https://storykybebaru.herokuapp.com/matkul"><button class="tombol">kembali</button></a>
    
</div>
{% endblock content %}