{% extends 'base.html' %}
{% load static %}

<!DOCTYPE HTML>

    {% block content %} 
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <body>        
        <div class="container">
            <div class="row">
                <div class="col">
                    <form action='' method="POST">
                        {% csrf_token %}
                        {{ form }}
                        <div class="centre-items">
                            <input type="submit" class="tombol" value="Add Matkul">
                        </div>
                    </form>
                </div>
                <div class="col">
                    <table class="table">
                        <thead>
                            <tr>
                            <th scope="col">Nama Matkul</th>
                            
                            </tr>
                        </thead>
                        <tbody>
                            {% for xx in matkul %}
                                <td>
                                    <a href={{xx.pk}}/><button class="tombol">{{xx.NamaMatkul}}</button></a>
                                </td>

                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
        </div>
    </body>
    {% endblock content %}
