
.navbar .nav-item:hover .nav-link{
  background: #D90429;
  border: 0.6vw solid #D90429;
  border-radius: 1.2vw;
  font-size: 1.7vw;
  color: #EDF2F4;
}
.navbar .nav-item {
  background: #D90429;
  border: 0.5vw solid #EDF2F4;
  border-radius: 1.2vw;
  font-size: 1.7vw;
}
.nav-link{
  color: #EDF2F4;
}