{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  {% block meta %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
  {% endblock meta %}
  <link rel="stylesheet" href="{% static 'css/style.css' %}">

  <nav class="navbar navbar-expand-lg navbar-fixed-top", style="background-color: #2B2D42;">
    <a class="navbar-brand" style="color: #EDF2F4;font-size: 1.7vw;">Rizky Pratama</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="nav navbar-nav mr-auto">
        <li class="nav-item"><a class="nav-link" href="https://storykybebaru.herokuapp.com/">Awal</a></li>
        <li class="nav-item"><a class="nav-link" href="https://storykybebaru.herokuapp.com/galeri">Galeri Kybe</a></li>
        <li class="nav-item"><a class="nav-link" href="https://storykybe.herokuapp.com/">Story sebelumnya</a></li>
        <li class="nav-item"><a class="nav-link" href="https://storykybebaru.herokuapp.com/matkul">Mata Kuliah</a></li>
      </ul>
    </div>    
  </nav>
</head>


<body style="background-color: #E4E9ED">
  {% block content %}
  {% endblock content %}
</body>
  
</html>
