{% extends 'base.html' %}
{% load static %}

<head>
  {% block meta %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Profile Rizky</title>
  <link rel="stylesheet" href="{% static 'style/home.css' %}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
  {% endblock meta %}
</head>

{% block content %}
<body class="body" style="background-color: #8D99AE;">
    <div id="galeri">
        <div class="container-fluid">
            <h1>Galeri Rizky Pratama</h1>
            <div class="col-md-3 col-xs-12" >
                <figure>
                    <img src="{% static 'img/bandung.jpg' %}" style="width: 20 vw; height: 20vw;
                    border: 1vw solid #2B2D42;box-sizing: border-box;border-radius: 150px">
                    <figcaption>Bandung</figcaption>
                </figure>
                
            </div>
            <div class="col-md-6 col-xs-12">
                <figure>
                <img src="{% static 'img/sentul.jpg' %}" style="width: 20 vw; height: 20vw;
                border: 1vw solid #2B2D42;box-sizing: border-box;border-radius: 150px">
                <figcaption>Sentul</figcaption>
                </figure>
            </div>
            <div class="col-md-3 col-xs-12">
                <figure>
                <img src="{% static 'img/stadium.jpg' %}" style="width: 20 vw; height: 20vw;
                border: 1vw solid #2B2D42;box-sizing: border-box;border-radius: 150px">
                <figcaption>Gelora Bungkarno</figcaption>
                </figure>
            </div>
        </div>
      </div>

</body>
{% endblock content %}